<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlListar</servlet-name>
        <servlet-class>Controladores.ControlListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlActualizar</servlet-name>
        <servlet-class>Controladores.ControlActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlBorrar</servlet-name>
        <servlet-class>Controladores.ControlBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlLibro</servlet-name>
        <servlet-class>Controladores.ControlLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlVen</servlet-name>
        <servlet-class>Controladores.ControlVen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>Controladores.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlClientes</servlet-name>
        <servlet-class>Controladores.ControlClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCli</servlet-name>
        <servlet-class>Controladores.ListarCli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCompra</servlet-name>
        <servlet-class>Controladores.ControlCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValorLibros</servlet-name>
        <servlet-class>Controladores.ValorLibros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlListar</servlet-name>
        <url-pattern>/ControlListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlActualizar</servlet-name>
        <url-pattern>/ControlActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlBorrar</servlet-name>
        <url-pattern>/ControlBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlLibro</servlet-name>
        <url-pattern>/ControlLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlVen</servlet-name>
        <url-pattern>/ControlVen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlClientes</servlet-name>
        <url-pattern>/ControlClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCli</servlet-name>
        <url-pattern>/ListarCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCompra</servlet-name>
        <url-pattern>/ControlCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValorLibros</servlet-name>
        <url-pattern>/ValorLibros</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
